.navbar ul {
    margin: auto;
}

.heroImage {
    background-image: url(../images/heroCar.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 91.4vh;
}

.nav-item {
    font-family: 'Manrope', sans-serif;
    font-size: 21.33px;
}

body h1{
    font-family: 'Dosis', sans-serif;
    font-size: 67.34px;
    margin-top: 300px;
}

body h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    color: #f8f4f7;
    font-size: 50.52px;
    margin-bottom: 100px;
    margin-top: 50px !important;
}

body h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color: #f8f4f7;
    font-size: 37.90px;
    margin-bottom: 50px;
}

body h4 {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color: #f8f4f7;
    font-size: 21.33px;
    margin-bottom: 50px;
}

.containerUX {
    background-image: url(../images/background1.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.containerUX h3 {
    margin-top: 60px;
}

.containerUX li {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color: #f8f4f7;
    font-size: 21.33px;
}

.containerAbout {
    background-color: black !important;
}

.containerFooter {
    background-color: black !important;
    color: #f8f4f7;
}

.containerContact {
    color: #f8f4f7;
    background-image: url(../images/backgroundContact.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

nav li a:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 8px;
}

.containerTestimonial {
    color:#f8f4f7;
    background-image: url(../images/background3.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.containerInterior {
    background-color: black!important;
    /* background-image: url(images/background2.png); */
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.containerCar {
    background: linear-gradient(to top, #29002E, #F8F4F7), url(../images/background2.png) no-repeat  top center;
}

hr {
    background-color: grey;
    list-style: rounded;
    opacity: 80%;
    padding-bottom: .2rem;
    width: 50%;
    margin: 0 auto;
}

.containerCarbon {
    background-image: url(../images/background1.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.containerCarbon img {
    margin-top: 100px;
}

.info-card-content {
    margin-top: 100px;
    margin-bottom: 200px;
}


/* MEDIA QUERY */

@media only screen and (max-width: 600px) {

    .mb-5 {
        width: 100%;
    }
    .heroImage {
        background-image: url(../images/mobileCar.png);
    }
    
    body h1 {
        margin-top: 25%;
    }
    
    .col-5 {
        width: 90% !important;
    }

    .ms-5 {
        margin-left: auto !important;
    }

    .me-5 {
        margin-right: auto !important;

    }

    .mb-5 {
        margin-bottom: auto !important;
    }

    .mt-5 {
        margin-top: 0px !important;
    }

    .img-fluid {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .prototype-conent {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .col-8 {
        width: 100%;
    }
    
    }
    
    
    @media only screen and (max-width: 912px) {
    
    .heroImage {
        background-image: url(../images/tabletCar.png);
    }

    .info-card-content {
        margin-top: auto;
        margin-bottom: auto;
    }
}

