.navbar ul {
    margin: auto;
}

.heroImage {
    background-image: url(images/heroCar.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 91.4vh;
}

.nav-item {
    font-family: 'Manrope', sans-serif;
    font-size: 21.33px;
}

body h1{
    font-family: 'Manrope', sans-serif;
    font-size: 67.34px;
    margin-top: 300px;
}

body h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 50.52px;
    margin-bottom: 100px;
    margin-top: 50px !important;
}

body h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 37.90px;
    margin-bottom: 50px;
}

body h4 {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 21.33px;
    margin-bottom: 50px;
}

.containerUX {
    background-image: url(images/background1.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.containerUX li {
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 21.33px;
}

.containerAbout {
    background-color: black !important;
}

.containerFooter {
    background-color: black !important;
    color: white;
}

.containerContact {
    color: white;
    background-image: url(images/backgroundContact.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

nav li a:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 8px;
}

.containerTestimonial {
    color: white;
    background-image: url(images/background3.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

hr {
    background-color: grey;
    list-style: rounded;
    opacity: 80%;
    padding-bottom: .2rem;
    width: 50%;
    margin: 0 auto;
}